./*
Theme Name: Impreza Child
Template: Impreza
Version: 1.0
Author:	UpSolution
Theme URI: http://impreza.us-themes.com/
Author URI: http://us-themes.com/
*/

/*Add your own styles here:*/
/* @import must be at top of file, otherwise CSS will not work */
@import url("../../../../hello.myfonts.net/count/369a2d.css");
  
@font-face {font-family: 'Mont-Regular';src: url('webfonts/369A2D_2_0.eot');src: url('webfonts/369A2D_2_0%EF%B9%96.eot#iefix') format('embedded-opentype'),url('webfonts/369A2D_2_0.woff2') format('woff2'),url('webfonts/369A2D_2_0.woff') format('woff'),url('webfonts/369A2D_2_0.ttf') format('truetype'); font-display: swap; }
@font-face {font-family: 'Mont-SemiBold';src: url('webfonts/369A2D_4_0.eot');src: url('webfonts/369A2D_4_0%EF%B9%96.eot#iefix') format('embedded-opentype'),url('webfonts/369A2D_4_0.woff2') format('woff2'),url('webfonts/369A2D_4_0.woff') format('woff'),url('webfonts/369A2D_4_0.ttf') format('truetype'); font-display: swap;}
@font-face {font-family: 'Mont-BookItalic';src: url('webfonts/369A2D_F_0.eot');src: url('webfonts/369A2D_F_0%EF%B9%96.eot#iefix') format('embedded-opentype'),url('webfonts/369A2D_F_0.woff2') format('woff2'),url('webfonts/369A2D_F_0.woff') format('woff'),url('webfonts/369A2D_F_0.ttf') format('truetype'); font-display: swap;}
@font-face {font-family: 'Mont-Book';src: url('webfonts/369A2D_10_0.eot');src: url('webfonts/369A2D_10_0%EF%B9%96.eot#iefix') format('embedded-opentype'),url('webfonts/369A2D_10_0.woff2') format('woff2'),url('webfonts/369A2D_10_0.woff') format('woff'),url('webfonts/369A2D_10_0.ttf') format('truetype'); font-display: swap;}
@font-face {font-family: 'Mont-RegularItalic';src: url('webfonts/369A2D_11_0.eot');src: url('webfonts/369A2D_11_0%EF%B9%96.eot#iefix') format('embedded-opentype'),url('webfonts/369A2D_11_0.woff2') format('woff2'),url('webfonts/369A2D_11_0.woff') format('woff'),url('webfonts/369A2D_11_0.ttf') format('truetype'); font-display: swap;}
@font-face {font-family: 'Mont-Bold';src: url('webfonts/369A2D_12_0.eot');src: url('webfonts/369A2D_12_0%EF%B9%96.eot#iefix') format('embedded-opentype'),url('webfonts/369A2D_12_0.woff2') format('woff2'),url('webfonts/369A2D_12_0.woff') format('woff'),url('webfonts/369A2D_12_0.ttf') format('truetype'); font-display: swap;}
 
/* ---- !IMPORTANT! FORMAT CSS CLASSES = mc--[section/element]-[variable] in English --- */

/* Font Mont */
p, ul li, ol li, span, div {
	font-family: 'Mont-Book'!important;
	font-weight: normal ;
}

h1, h2, h3 ,h4, h5, h6, 
nav ul li a span, strong{
	font-family: 'Mont-Book' !important;
	font-weight: normal;
	line-height: 1;
}

h1:after,
h2:after,
h3:not(.w-post-elm):after {
	content: '__';
	display: block;
	line-height: 0;
	padding-bottom: 1.5rem;
}

body .w-btn .w-btn-label, .w-btn {
	font-family: 'Mont-Book', sans-serif !important;	
}

.mc--link-wit a {
	text-decoration: underline;
	color: #ffffff;
}

.mc--top-jobs a {
	font-family: 'Mont-Book'!important;	
}

.mc--top-jobs a sup{
	font-family: 'Mont-Book'!important;	
}


h1#mc_greeting {
    display: inline;
}

/* Algemeen */
.l-main .w-image-h img {
	border-radius: 1rem;
}


/* Header */
.w-nav-arrow:before,
.w-search-open i {
	font-weight: 200;
	font-size: 0.9rem !important;
} 

@media screen and (min-width: 1024px) {
	.mc--hide-desktop {
		display: none !important;
	}
}


.w-nav-open .l-header .w-image-h > img:first-child{
    display: block !important;
    position: absolute !important;
    z-index: 999 !important;
	filter: invert(1);
}

.w-nav-open .w-nav-close {
    background: #fff;
    border-radius: 100%;
    opacity: 1;
    width: 80px;
    height: 80px;
    line-height: 1.5;
    right: 35px;
    top: 40px;
}

.w-nav-open .w-nav-close:before {
    color: #000;
    font-weight: lighter;
}

.w-nav-open .l-header .w-image-h {
    width: 268px;
}

.mc--menu-rechts a{
    color: #E6E6E6 !important;
    font-size: 28px;
    opacity: 0.82;
    font-weight: 400 !important;
}

.mc--menu-rechts a:hover {
    color: #fff !important;
}

.mc--menu-links li:hover a {
    color: #fff;
}

.mc--menu-links li a:hover {
    color: #fff !important;
}

.mc--menu-links li {
    line-height: 1.3 !important;
}

.mc--menu-rechts li  {
    line-height: 1.6 !important;
}

header.sticky nav.ush_menu_1 a.w-nav-control:hover {
    color: #000;
}

.w-menu.layout_ver.mc--menu-links>li a,
.w-menu.layout_ver.mc--menu-rechts>li a {
    font-weight: 400;
}

.mc--menu-links .current-menu-item a {
    color: #fff;
    border-bottom: solid 3px #fff; 
}

.mc--menu-rechts .current-menu-item a{
    color: #E6E6E6 !important;
    border-bottom: solid 3px #E6E6E6;   
}

.no-touch .w-nav.type_desktop .hover_underline .current-menu-item .w-nav-anchor.level_1 .w-nav-title:after {
    bottom: -2px;
    opacity: 1;
}

/* Home */
.mc--intro p{
    line-height: 1.4;
    font-size: 1.6rem;
}

/* Dienst - stappen */
.mc--brand-stappen .w-image-h {
	width: 80%;
}

.mc--brand-stappen .mc--smaller-video.w-video {
	width: 80%;
}

/* Portfolio -- Images */
.l-section.mc--portfolio-images {
	padding-bottom: 8px;
	padding-top: 8px;
}

.mc--portfolio-images .g-cols.type_default>div>.vc_column-inner{	
	padding-left: 8px;
	padding-right: 8px;
}

.mc--portfolio-images-2-1 .g-cols.type_default>div>.vc_column-inner{
	padding-left: 8px;
	padding-right: 8px;
}

.mc--portfolio-images .wpb_column .vc_column-inner > .wpb_wrapper,
.mc--portfolio-images .wpb_column .vc_column-inner > .wpb_wrapper .w-image,
.mc--portfolio-images .wpb_column .vc_column-inner > .wpb_wrapper .w-image .w-image-h {
    height: 100%;
}

.mc--portfolio-images img:not(.mc--mobile--mockup) {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.mc--column-2-img > .vc_column-inner,
.mc--column-1-img > .vc_column-inner {
	flex-grow: 0 !important;
	flex-direction: initial !important;
}


.mc--portfolio-images-2-1 .mc--column-2-img .wpb_column .vc_column-inner > .wpb_wrapper,
.mc--portfolio-images-2-1 .mc--column-2-img > .vc_column-inner,
.mc--portfolio-images-2-1 .mc--column-2-img .w-image-h {
	height: 100%;
}

.mc--portfolio-images-2-1 .mc--column-2-img .w-image {
	height: 50%;
}

.mc--portfolio-images-2-1 .mc--column-2-img .w-image:first-child {
	margin-bottom: 16px;
	height: calc(50% - 16px);
}

.mc--portfolio-images-2-1 .mc--column-2-img img,
.mc--portfolio-images-2-1 .mc--column-1-img img {
	object-fit: cover;
	height: 100%;
}

/* Werk tiles */
@media screen and (min-width: 900px){
	.mc--grid-swapped.layout_20520 article:nth-child(2n+1) .w-grid-item-h{
		display: flex;
		flex-direction: column-reverse;
	}
}

.layout_20520 .usg_post_title_1 {
	font-family: 'Mont-SemiBold', sans-serif !important;
}

.layout_20520 .usg_hwrapper_1 span {
	background-color: #eee;
	padding: 12px 12px;
	border-radius: 100px;
	font-size: 15px;
	margin-right: 6px;
}

/* Zoekresultaten */
.mc--result h2{
	font-size: 1.3rem;
	margin-top: 10px;
}

.mc--result {
	padding-bottom: 2rem;

}

.search-results article .w-grid-item-h:hover .mc--result::before {
	background-color: #ffffff;
}

.mc--result > .w-vwrapper {
	padding-left: 4.5rem;	
}

.mc--result .post_content {
	font-size: 0.9rem;
	line-height: 1.2rem;
}

.mc--result a:hover,
.mc--result h2:hover{
	border-bottom: 0px !important;
}

body {
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter;
}

.mc--result::before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter) ". ";
  background-color: #ebebeb;
  color: #000000;
  margin-right: 14px;
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 300px;
  text-align: center;
  line-height: 50px;
  transition: all ease-out .2s;
} 


/* Portfolio grid */
.mc--video-autoplay .w-video-icon {
	visibility: hidden;
}


/* Vacatures */
.mc--header .l-section-overlay {
	height: 78%;
}

.mc--vacatures article .usg_hwrapper_1 {
    border-bottom: solid 1px rgba(168,168,168,0.31);
    padding-bottom: 2.2rem;
    padding-top: 1.6rem;
}

.mc--vacatures article:first-child .usg_hwrapper_1 {
    border-top: solid 1px rgba(168,168,168,0.31);
    padding-top: 2.2rem;
}

/* Team -- pop-up */
.l-popup-box-content {
	width: 80%;
}

.mc--content-team > .l-section-h {
	width: 100%;
}

.mc--bold span {
	font-family: 'Mont-Bold' !important;
}

@media screen and (min-width: 1850px){

	.l-popup-box-content {
	    max-width: 1280px;
	}
}

.mc--team-tiles h2:after {
	padding-bottom: 1rem !important;
}

.mc--team-tiles .usg_hwrapper_1 {
	min-height: 35px;
}

/* Campagne */
.mc-slider-wrapper .mc-afbeelding{
	overflow: hidden;
	border-radius: 2rem;
}

.mc-slider-wrapper .mc-afbeelding::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	border-radius: 2rem;
}

.mc-slider-wrapper .mc-titel {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
	z-index: 99;
}

.mc-slider-wrapper .mc-titel p{
	font-size: 2.5rem;
	color: var(--color-wit);
	line-height: 1.2;
	width: 650px;
}

.mc-slider-navigation {
	font-family: 'Mont-SemiBold', sans-serif !important;
	margin-bottom: 1.5rem;
	display: flex;
	column-gap: 30px;
}

.mc-slider-navigation a {
	color: rgba(0,0,0,0.3);
	font-size: 1.6rem;
}

.mc-slider-navigation a:hover{
	text-decoration: none !important;
	color: #000;
}

.mc-slider-navigation a.active{
	color: #000;
}

.mc-slide-content,
.mc-afbeelding,
.mc-afbeelding video {
	height: 700px;
}

.mc-afbeelding video {
	object-fit: cover;
}

.mc-slide video, .mc-slide img {
    object-fit: cover;
    height: 100%;
}

/* Footer */
.mc--locaties h3 {
	margin-bottom: 5px !important;
}

footer .mc--locaties h3 {
	font-size: 19px;
}

.mc--social i{
	font-size: 42px !important;
}

.fa-facebook:before {
    content: "\f39e";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.mc--partners .w-btn .w-btn-label {
	font-family: 'Mont-Regular', sans-serif !important;
}

footer h4 {
	font-size: 1.3rem;
	line-height: 1.8rem;
}

/* Artikel */
.mc--post-content h2,
.mc--post-content h3,
.mc--post-content h4,
.mc--post-content h5,
.mc--post-content h6 {
	text-transform: none;
}


/* Nieuwe styling 2024 */
.mc--btn-arrow i {
	transform: rotate(-45deg);
}

.w-btn.icon_atright i.fal.fa-arrow-right {
	transform: rotate(-45deg);	
}

.mc--btn-arrow i {
	line-height: 2;
}

.mc--uppercase p {
	text-transform: uppercase;
}

.mc--uppercase p a {
	text-transform: none;
}

.mc--footer-bottom,
.mc--footer-bottom a {
	font-size: 0.9rem;
}

.mc--columns-2 p{
	column-count: 2;
}

.mc--no-after:after {
	display: none;
}

.hidden_field {
    visibility: hidden;
}

.mc--overflow-hidden {
	overflow: hidden;
}

footer .wpb_text_column a {
    color: var(--color-wit);
}

.mc--cc {
    max-width: 80%;
}

blockquote {
    background: var(--color-blauw);
    padding: 3rem;
    border-radius: 1rem;
	color: var(--color-lichtrood);
}

blockquote:before {
    font-size: 5rem;
    left: unset;
    top: 22px;
    opacity: 1;
}

/* ====== RESPONSIVE ====== */
@media screen and (min-width: 901px ){
	.mc--verberg-desktop {
		display: none !important;
	}
}



/* Responsive Queries */
/* Large */
@media screen and (max-width: 1200px){}
/* Medium */
@media screen and (max-width: 1024px){
	.mc--route .wpb_column {
		width: 33.33% !important;
	}

	.mc--ms-diensten-mobile .g-cols.wpb_row.via_flex.valign_top.type_default.stacking_default{
		margin-bottom: 6rem;
	}

	.mc--ms-diensten-mobile .g-cols.wpb_row {
		margin-bottom: 2rem;;
	}
}
/* Small */
@media screen and (max-width: 768px){
	body .layout_20847 .usg_btn_1,
	body .layout_22699 .usg_btn_1 {
		transform: scale(0.8);
		bottom: 20px !important;
    	right: 20px !important;
	}

	body .layout_20847 .usg_post_title_1,
	body .layout_22699 .usg_post_title_1 {
		font-size: 1rem !important;
	}
	

	.type_carousel.layout_15613 article {
		padding: 0.3rem !important;
	}


	#mc--opdracht p {
		font-size: 1.5rem !important;
	}

}
/* Extra Small */
@media screen and (max-width: 600px){
	.mc--route .wpb_column {
		width: 50% !important;
	}

	body .layout_20847 .usg_vwrapper_1,
	body .layout_22699 .usg_vwrapper_1 {
		width: 85% !important;
		padding: 2rem !important;
	}

	body .layout_20847 .usg_post_image_1,
	body .layout_22699 .usg_post_image_1 {
		width: 100%!important;
	}

	body .layout_20847 .w-post-elm.post_image.usg_post_image_1.has_width.has_ratio div,
	body .layout_22699 .w-post-elm.post_image.usg_post_image_1.has_width.has_ratio div {
		padding-bottom: 55% !important;
	}

	.layout_20874 .w-grid-item-h,
	.layout_22699 .w-grid-item-h {
		display: flex !important;
	}

	
	.layout_22699 .usg_post_image_1 {
		width: 40% !important;
	}

	.layout_20874 .usg_post_image_1 {
		width: 100% !important;
		height: 100% !important;
	}

	.layout_20874 .usg_vwrapper_1,
	.layout_22699 .usg_vwrapper_1 {
		width: 60% !important;
	}

	body .layout_20874 .usg_btn_1,
	body .layout_22699 .usg_btn_1 {
		transform: scale(0.6) !important;
		right: 4px !important; 
		bottom: 4px !important;
	}

	.mc--btn-arrow i {
		line-height: 2.3;
	}
	
	.layout_20874 .usg_post_title_1,
	.layout_22699 .usg_post_title_1 {
		width: 96%;
	}

	.mc--intro p {
		font-size: 1.1rem;
	}

	.layout_15613 .usg_btn_1 {
		transform: scale(0.8);
	}

	.layout_20520 .usg_hwrapper_1 span {
		font-size: 12px !important;
	}

	.single-us_portfolio .mc--projectteam article {
		max-width: 40px ;
	}

	.single-us_portfolio .mc--projectteam {
		margin-bottom: 1.5rem;
	}

	.single-us_portfolio .post_taxonomy.style_badge .w-btn {
		font-size: 13px;
	}

	#mc--opdracht p {
		font-size: 1.2rem !important;
	}

	.mc--werk-content .w-hwrapper,
	.mc--werk-content .w-hwrapper .wpb_text_column:nth-child(1),
	.mc--werk-content .w-hwrapper .wpb_text_column:nth-child(2) {
		width: 100% !important;
	}

	.mc--brandstory .wpb_text_column {
		font-size: 1rem !important;
	}

	.mc--brandstory .vc_column-inner {
		padding: 2rem !important
	}

	body .layout_20520 .usg_post_taxonomy_1,
	body .layout_20520 .usg_post_taxonomy_2 {
		margin-bottom: 15px !important;
	}

	body .layout_20520 .usg_post_title_1 {
		font-size: 1.2rem !important;
	}

	.single-post .w-post-elm.afbeelding_overzicht > div {
		padding-bottom: 65% !important;
	}

	.single-post .layout_399 .usg_post_image_1 {
		max-width: 65px !important;
	}

    body .layout_399 .usg_post_title_1 {
        font-size: 13px !important;
        line-height: 1.5;
    }

	.mc--columns-2 p {
		column-count: 1;
	}

	.layout_22699 .naam_functie span {
		line-height: 1 !important;
		display: block;
		margin-bottom: 1rem;
	}

	.mc--team-tiles article {
		min-height: 290px;
	}

	.l-popup-box-content {
		width: 100% !important;
	}

	body .us_custom_fc6ea67c {
        padding: 2rem 3rem !important;
    }

	.l-popup-arrow {
        display: block !important;
		top: 30% !important;
		opacity: 1 !important;
    }

	.mc-slide-content,
	.mc-afbeelding,
	.mc-afbeelding video {
		height: 500px;
	}
}

